!!!
%html
  %head
    %title Naked Rail!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %p
    = render 'flash_messages'
    .container
      = yield

